<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zhyan.fixed.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="org.zhyan.fixed.bean.User" >
    <id column="guid" property="guid" jdbcType="CHAR" />
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="CHAR" />
    <result column="pass" property="pass" jdbcType="CHAR" />
    <result column="tel" property="tel" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="CHAR" />
    <result column="ip_address" property="ipAddress" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    guid, id, name, pass, tel, create_time, state, ip_address
  </sql>
  
  
  <select id="selectAllCounts" resultType="Integer">
    select count(1) from user
  </select>  
  <!-- 分页查询 -->
  <select id="selectByUserId" parameterType="String" resultMap="BaseResultMap">
	select * from user  where guid= #{uid,jdbcType=CHAR}
  </select>   
  
  <select id="selectByPage" parameterType="org.zhyan.fixed.util.Page" resultMap="BaseResultMap">
	select * from user where guid != '00000000-0000-0000-0000-000000000000' ORDER BY DATE_FORMAT(create_time,'%T') desc  limit #{startPos},#{pageSize}
  </select>
    
 <!-- 用户登录验证查询 -->
  <select id="authentication" resultMap="BaseResultMap" parameterType="org.zhyan.fixed.bean.User">
	select
	<include refid="Base_Column_List" />
	from user
	where name = #{name,jdbcType=CHAR} and pass = #{pass,jdbcType=CHAR}
  </select> 
 <!-- 用户登录验证查询 -->
  <select id="selectByUsername" resultMap="BaseResultMap" parameterType="String">
	select
	<include refid="Base_Column_List" />
	from user
	where name = #{name,jdbcType=CHAR} 
  </select>  
  
  <delete id="deleteByGuid" parameterType="String" >
    delete from user
    where guid = #{guid,jdbcType=CHAR}
  </delete>
  
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where guid = #{guid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where guid = #{guid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="org.zhyan.fixed.bean.User" >
    insert into user (guid, id, name, pass, 
      tel, create_time, state, 
      ip_address)
    values (#{guid,jdbcType=CHAR}, #{id,jdbcType=BIGINT}, #{name,jdbcType=CHAR}, #{pass,jdbcType=CHAR}, 
      #{tel,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{state,jdbcType=CHAR}, 
      #{ipAddress,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.zhyan.fixed.bean.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="guid != null" >
        guid,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="pass != null" >
        pass,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="ipAddress != null" >
        ip_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="guid != null" >
        #{guid,jdbcType=CHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=CHAR},
      </if>
      <if test="pass != null" >
        #{pass,jdbcType=CHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
      <if test="ipAddress != null" >
        #{ipAddress,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.zhyan.fixed.bean.User" >
    update user
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=CHAR},
      </if>
      <if test="pass != null" >
        pass = #{pass,jdbcType=CHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=CHAR},
      </if>
      <if test="ipAddress != null" >
        ip_address = #{ipAddress,jdbcType=CHAR},
      </if>
    </set>
    where guid = #{guid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zhyan.fixed.bean.User" >
    update user
    set id = #{id,jdbcType=BIGINT},
      name = #{name,jdbcType=CHAR},
      pass = #{pass,jdbcType=CHAR},
      tel = #{tel,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=CHAR},
      ip_address = #{ipAddress,jdbcType=CHAR}
    where guid = #{guid,jdbcType=CHAR}
  </update>
</mapper>